{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}

{% block main %}
   <div class="row">
      <div class="col-md-4 col-md-offset-4">

         {% if error_massage %}
            <div class="alert alert-danger">
               <p class="text-center">
                  <strong>Ошибка!</strong> {{ error_massage }}
               </p>
            </div>
         {% endif %}

         <h3><p class="text-center">Сброс пароля</p></h3>
         <form action="{{ url_for('bulls_and_cows.AccountView:reset_password', token=token) }}" method="post">
            {% from "_formhelpers.html" import render_field, render_csrf_token_field %}
            {{ render_csrf_token_field(form) }}
            <dl>
               {{ render_field(form.password, class_="form-control") }}
               {{ render_field(form.password_verification, class_="form-control") }}
            </dl>
            <p><input type=submit class="btn btn-primary btn-block" value="Изменить пароль"></p>
         </form>
      </div>
   </div>

{% endblock %}