{% extends "base.html" %}
{% block title %}Повторная отправка письма с ссылкой для активации аккаунта{% endblock %}

{% block main %}
   <div class="row">
      <div class="col-md-4 col-md-offset-4">

         {% if error_massage %}
            <div class="alert alert-danger">
               <p class="text-center">
                  <strong>Ошибка!</strong> {{ error_massage }}
               </p>
            </div>
         {% endif %}

         {% if message %}
            <div class="alert alert-info">
               <p class="text-center">
                  {{ message }}
               </p>
            </div>
         {% endif %}

         <h3>
            <p class="text-center">
               Повторная отправка письма с ссылкой для активации аккаунта
            </p>
         </h3>
         <form action="{{ url_for('bulls_and_cows.AccountView:resend_confirmation_token') }}" method="post">
            {% from "_formhelpers.html" import render_field, render_csrf_token_field %}
            {{ render_csrf_token_field(form) }}
            <dl>
               {{ render_field(form.email, class_="form-control") }}
            </dl>
            <p><input type=submit class="btn btn-primary btn-block" value="Отправить письмо"></p>
         </form>
      </div>
   </div>

{% endblock %}